# 字节码文件和优化文件
__pycache__/
*.py[cod]
*$py.class

# C 扩展
*.so

# 分发和打包
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller 生成的文件
*.manifest
*.spec

# 安装日志
pip-log.txt
pip-delete-this-directory.txt

# 测试和覆盖率报告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# 翻译文件
*.mo
*.pot

# 虚拟环境
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook 检查点
.ipynb_checkpoints

# mypy 类型检查
.mypy_cache/
.dmypy.json
dmypy.json

# pytype 静态类型分析
.pytype/

# Cython 调试符号
cython_debug/